<div class="jumbotron">
  <h1>welkom!</h1>
  <h2>Klik op de knop om jouw ideale studierichting te bepalen</h2>
  <p>
    <a class="btn btn-primary btn-lg" href="#" role="button" onClick="window.location='/questions'">Vragen</a>
  </p>
</div>

{{> bootstrap}}